/* --- General Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.body {
  background: url("./img/bg.png"); 
  background-color: #fdf3e8; 
  color: #333;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;

}

.loginTab {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 100px auto 0px;
  transition: transform 0.3s;
}

.loginTab:hover {
  transform: translateY(-5px);
}


.formHeader {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  justify-content: center;
}

.registerLink {
    text-align: center;
    margin: -20px auto;

}

/* Heading styles */
h1 {
  font-size: 24px;
  background: linear-gradient(90deg,  #52eb8b, #2f8849);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

h2 {
    color: #555;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

h3 {
    color: #555;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 15px;
}

/* Input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus, textarea:focus {
  border: 1px solid transparent;
  background-image: linear-gradient(#fff, #fff), linear-gradient(90deg,  #52eb8b, #2f8849);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  box-shadow: none;
  outline: none;
}

/* Button styling */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg,  #52eb8b, #2f8849);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background-color: white;
  color:#52eb8b;
  transform: translateY(-2px);  
  border: 1px solid transparent;
  background-image: linear-gradient(#fff, #fff), linear-gradient(90deg,  #52eb8b, #2f8849);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  box-shadow: none;
  outline: none;
}

/* Link styling */
p a {
    color: #4e4caf;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* --- Responsive --- */
@media (max-width: 390px) {
.loginTab {
    max-width: 320px;
  }

  p {
    font-size: 80%;
  }
}

